body {
   background: #dfdfdf;
   color: #000;
   overflow: hidden;
}

p.notify {
   background: #c3c3c3;
   margin: 0;
   padding: 20px;
   text-transform: uppercase;
   -webkit-app-region: drag;
}

img:hover {
   cursor: pointer;
}
#affiche_pablo {
   width: 210px;
}

#acces_interdit2 {
   height: 50vh;
   width: 40vh;
}

.principal-row {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.row2 {
   width: 100%;
   height: 50%;
   margin-bottom: 20px;
   background: #1a1a1a;
   border-bottom: 3px solid #011e6e;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.row3 {
   width: 100%;
   height: 100px;
   margin-bottom: 20px;
   align-items: center;
   display: flex;
   justify-content: space-around;
}

input {
   padding: 12px;
}

#closeBtn {
   cursor: pointer;
   padding: 20px;
   text-decoration: underline;
}

html,
body {
   background: rgba(226, 226, 226, 0.5);
   height: 100%;
}
