body {
   background: #dfdfdf;
   color: #000;
   overflow: hidden;
}

p.notify {
   background: #c3c3c3;
   margin: 0;
   padding: 20px;
   text-transform: uppercase;
   -webkit-app-region: drag;
}
img {
   border-radius: 10px;
}
img:hover {
   cursor: pointer;
   opacity: 0.7;
   transform: scale(1.05);
   transition: all 0.4s ease;
}
/* 
=============== 
Thumbnails :  
=============== */

#parking {
   height: 22vh;
   width: 15vh;
}

#affiche_pablo {
   width: 40vw;
}

#acces_interdit2 {
   height: 22vh;
   width: 17vh;
}

.principal-row {
   display: flex;
   flex-direction: column;
   height: 100%;
   background: linear-gradient(180deg, black, transparent);
   background-color: #2f2e2e;
}

.row2,
.row3 {
   padding-top: 20px;
   padding-bottom: 30px;
   width: 100%;
   /* height: 30%; */
   /* margin-bottom: 20px; */
   background: #1a1a1a;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.row4 {
   width: 100%;
   height: 100px;
   margin-bottom: 20px;
   align-items: center;
   display: flex;
   justify-content: space-around;
}

input {
   padding: 12px;
}

#closeBtn {
   cursor: pointer;
   padding: 20px;
   border-radius: 5px;
   transition: all 0.5s ease-in-out;
}

#closeBtn:hover {
   background: #6f73f1;
}

html,
body {
   background: rgba(226, 226, 226, 0.2);
   height: 100%;
}
