@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

body {
   background: #262626;
   color: #fff;
   font-family: 'Montserrat';
   margin: 0;
}
#creator {
   opacity: 0.3;
}
.row {
   width: 100%;
   margin-top: 20px;
   background: #1a1a1a;
   border-bottom: 3px solid #011e6e;
   display: grid;
   align-items: center;
   display: flex;
   justify-content: space-around;
}
.rowClose,
.rowEnter {
   background: none;
   border: none;
}

.position-container {
   background: #353535;
   padding: 0 10px;
   text-align: center;
   border-radius: 5px;
}
.actual-container {
   padding: 20px;
}
.subtext {
   font-size: 0.8em;
   text-transform: uppercase;
   margin-bottom: 10px;
}

button {
   /* float: right; */
   background: #011e6e;
   border: none;
   color: #fff;
   text-transform: uppercase;
   padding: 10px;
   margin-right: 30px;
   cursor: pointer;
   border-radius: 3px;
   transition: all 0.5s ease-in-out;
   font-family: 'Montserrat';
}

button:hover {
   background: #6f73f1;
}

.btnClose {
   background: red;
}
.btnClose:hover {
   background: salmon;
}
/* 
=============== 
Miniatures 
=============== */

.actual-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.thumbnail {
   display: none;
   height: 8rem;
   width: 8rem;
}
